<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <table>
    <tbody>
      <tr>
        <td>UserName</td>
        <td>
          <input type="text" name="username" 
                 id="username" formControlName="username">
        </td>

        <td>Password</td>
        <td>
          <input type="password" name="password" 
                 id="password" formControlName="password">
        </td>
        <td>
          <button type="submit">Submit</button>
        </td>
      </tr>
    </tbody>
  </table>
</form>